
/***body***/
body{
    font-family: 'Borel', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

/***navbar***/
.nav-item{

    letter-spacing:.2em;
    font-size: 14px;
    text-transform:uppercase;
}
dropdown-item{
    letter-spacing:.2em;
    font-size: 14px;
    text-transform:uppercase;
}
.img_logo{
    padding-left:.5em;
    padding-right:1.5em;
}
.nav-color{
    color:red;
}
/***footer***/
.all_foot{
    text-transform:uppercase;
    bottom:0;
    position:bottom;
}

.my_footer{
    background-color:#002B5B;
    padding-bottom:5px
}
.my_footer p{
    color:white;
    padding-top:20px;

    font-size: 14px;
}

/***category***/

.my_row{
    padding-top: 15px;
}
.my_row .mx-auto {
    color:##002B5B;
    font-size:14px;
}
.my_image{
    width:100%;
    height:auto;
}
.my_title{
    letter-spacing:.2em;
    font-size:16px;
    text-transform:uppercase;
}
.my_image_padding{
    padding:5px;
}
.my_bottom_margin{
    margin-bottom:30px;
}
.card-body h4{
    letter-spacing:.2em;
    font-size:14px;
    text-transform:uppercase;
}

/*** product page ***/


.my_prod{
    padding-top:15px;
    padding-bottom:25px;
}
.my_prod .mx-auto{
    color:#000;
    font-size:12px;
    text-decoration:none;
}
.pro_title p{
    letter-spacing:.2em;
    font-size:14px;
    text-transform:uppercase;
}
.my_prod_title{
    letter-spacing:.2em;
    font-size:16px;
    text-transform:uppercase;
    padding-top:15px;
    padding-bottom:10px;
}
.my_prod_text{
    padding-right:20px;
}
.my_btn{
    padding-top:15px;
    padding-bottom:25px;ss
}

.my_prod .nav_title{
    letter-spacing:.2em;
    font-size:14px;
    text-transform:uppercase;
}

.my_prod a{
    text-decoration:none;
}

.my_row .cat_link a{
    text-decoration:none;
}
.my_search_text{
    padding-top:20px;
}

/*** cart page ***/

.my_custom_table{
    min-width=400px;
    font-size=14px;
}
.my_custom_table_head{
    font-weight:normal;
    text-transform:uppercase;
    letter-spacing:.2em;
    background-color:#f8f8fa!important;
}
.custom.a{
    text-decoration:none:
}
.custom_icon{
    text-decoration:none;
    color:#868e96 !important;
}
.my_custom_button{
    margin-top:5px;
}