{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{ category.description| truncatewords:155}}
    {% else %}
        Welcome to K-Shop, where Kerala shops
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
        {{ category.name}}- K-Shop
    {% else %}
        See our new collections
    {% endif %}
{% endblock %}
{% block content %}
<div >
    {% if category %}
    <div class="row my_row">
        <div class="mx-auto">
            <p class="my_title cat_link">
                <a  href="{% url 'shopapp:allProdCat' %}"> Our product collections</a>
            </p>
        </div>
    </div>
    {% endif %}
    <div class="mx-auto">
        {% if category %}
        <img class="my_image" src="{{ category.image.url }}" alt="{{ category.name}}">
    </div><br>
    <div>
        <h1 class="text-center my_title" style="color:#002B5B; padding-top:2em;font-size:20px;"><b>{{category.name}}</b></h1>
        <p class="text-justify my_title" style="margin-left:5em;color:#002B5B; padding-bottom:2em;padding-top:2em;">{{ category.description }}</p>
    </div>
    {% else %}
    <div class="container">
        <div class="row">
<!--            <img class="my_image my_image_padding" src="{% static 'img/banner.png' %}" alt="Our Products" width="100% " height="500px">-->

<!--            trying video banner-->
            <video autoplay muted loop id="myVideo">
                <source src="{% static 'img/banner.mp4' %}" type="video/mp4">
            </video>


        </div><br>
        <div>
            <div>
                <h1 class="text-center my_title">Our Product Collections</h1>
                <p class="text-justify">The K Shop Group is one of India's leading digital commerce entities and includes many branded products which is clearly on a affordable rate so that all of us can have our desired products. Keep shopping with us and keep investing on right hands.</p>
            </div>
        </div></br>
        {% endif %}
        <div class="container">
            <div class="row mx-auto">
                {% for product in products %}
                <div class="my_bottom_margin col-lg-4 md-4">
                    <div class="card text-center h-100"  style="width: 18rem;">

                            <a href="{{product.get_url}}"><img class=" card-img-top my_image" src="{{ product.image.url }}" alt="{{product.name}}" ></a>
                            <div class="card-body">
                                <h4>{{product.name}}</h4>
                                <p><b>₹{{product.price}}</b></p>
                            </div>

                    </div>
                </div>

                {% endfor %}
            </div>
            <div class="mx-auto">
                {% if products.paginator.num_pages > 1 %}
                <hr>
                <div class="text-center">
                    {% for pg in products.paginator.page_range %}
                    <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
                    {% endfor %}
                </div>
                {% endif %}
            </div><br>
        </div>
    </div>
</div>
{% endblock %}